*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    padding-bottom: 10%;
}
nav{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#logo{
    height: 100%;
    width: 15%;
    padding: 2%;
    padding-top: 2%;
    margin-left: 3%;
}
#rr1{
    height: 80%;
    width: 50%;
}
#nav-bar{
    width: 50%;
    height: 147px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 7%;
}
.nav-list{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
#nav-bar:hover{
    color:rgb(168, 155, 155) ;
}
#naviii{
    color: rgb(125, 121, 121);
}
#naviii:hover{
    transform: scale(1.2);
    color: black;
}
#section1{
    width: 100%;
    background-image: url("./img/5-3.jpg");
    background-repeat: no-repeat;
    height:500px;
    background-attachment:fixed;
    background-position: center;
    background-size:cover;
}
#main-headins{
    margin-left: 10%;
    margin-top: 7%;
}
#heading1{
    width: fit-content;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 1%;
    background-color:white;
    opacity: 0.9;
    color: #333;
    scroll-behavior: auto;
}
#section2{
    width: 100%;
}

#images{
    width: 70%;
    margin: 0% auto;
    margin-left: 15%;
}
#plan{
    width: 100%;
    height: 500px;
}
#hr1{
    width: 70%;
    margin: 0% auto;
    margin-left: 15%;
    margin-top: 1%;
}
#icons{
    width: 70%;
    margin: 0% auto;
    margin-left: 15%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.ancs{
    text-decoration: none;
    color: rgb(150, 147, 147);
    padding-left: 10px;
}
#imagescontent{
    width: 70%;
    margin: 0% auto;
    margin-left: 15%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%
}
#imagescontent1{
    width: 20%;
}
#imagescontent2{
    width: 75%;
}
#cccc{
    font-size: x-large;
    padding-bottom: 16px;

}


#section7{
    width: 100%;
    background-color:black;
    padding-top: 6%;
    padding-bottom: 6%;
}
#section7-0{
    width: 70%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
}
#section7-1{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#section7-2{
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 0.8%;
}
#icon1{
    padding: 7px;
    background-color:#ffffff;
    color: black;
    border-radius: 220%;
    font-size: medium;
}
#section7-1:hover #icon1{
    background-color: #333;
}
#section7-1 #icon1:hover{
    color: black;
    background-color:white;
    transform: scale(1.2);
    transition-duration: 1s;
}
#top{
    color: black;
    padding: 1%;
    background-color: white;
    border: 2px solid #333;
    border-radius: 100%;
    text-decoration: none;
    position: relative;
    top: 15px;
}