*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    padding-bottom: 10%;
}
nav{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#logo{
    height: 100%;
    width: 15%;
    padding: 2%;
    padding-top: 2%;
    margin-left: 3%;
}
#rr1{
    height: 80%;
    width: 50%;
}
#nav-bar{
    width: 50%;
    height: 147px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 7%;
}

.nav-list{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
.nav-list:hover{
    transform: scale(1.2);
}
#nav-bar:hover{
    color:rgb(168, 155, 155) ;
}
#naviii{
    color: rgb(125, 121, 121);
}
#naviii:hover{
    transform: scale(1.2);
    color: black;
}
#section1{
    width: 100%;
    background-image: url("./img/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
    background-attachment:fixed;
}
#main-headins{
    margin-left: 10%;
    margin-top: 7%;
}
#heading1{
    width: fit-content;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 1%;
    background-color:white;
    opacity: 0.9;
    color: #333;
    scroll-behavior: auto;
}
#heading2{
    margin-top: 2%;
    width: 60%;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 1%;
    background-color:white;
    opacity: 0.9;
    color: #333;
}
#fixed{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 350px;
    position: fixed;
}

.fixed-dots{
    text-decoration: none;
    font-size: 90px;
    height: 40px;
    color: black;
}
#section2{
    width: 100%;
    background-image: url("./img/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
    background-attachment: fixed;
}
#para{
    background-color: white;
    padding: 7%;
    padding-left: 12%;
    padding-right: 12%;
    scroll-behavior: smooth;
    margin-top: 3%;
}
#sub-head{
    font-size: 22px;
    font-weight: bold;
    margin-top: 3%;
}
#content{
    font-size: 18px;
    margin-top: 2%;
}
#main-headins-1{
    margin-left: 10%;
    margin-top: 7%;
}
#heading3{
    width: 50%;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 1%;
    background-color:white;
    opacity: 0.8;
    color: #333;
}
#section3{
    width: 100%;
    background-image: url("./img/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
#section4{
    width: 100%;
    background-image: url("./img/1040.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
    background-attachment: fixed;
}
#section5{
    width: 100%;
    background-image: url("./img/Custom+Closet+Ray+Rompano+Contracting+NYC+Brooklyn+Upper+east+Side+NYC+renovation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
    background-attachment: fixed;
}
#section6{
    width: 100%;
    background-color: white;
    padding-bottom: 10%;
}
#section6-1{
    width: 70%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section6-2{
    width: 30%;
}
.gallery{
    width: 100%;
    padding: 10%;
    padding-left: 0%;
   
}
#section7{
    width: 100%;
    background-color:black;
    padding-top: 6%;
    padding-bottom: 6%;
}
#section7-0{
    width: 70%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
}
#section7-1{
    width: 20%;
    display: flex;
    justify-content: space-between;
}


#section7-1:hover #icon1{
    background-color:#333;
}
#section7-1:hover #icon2{
    background-color:#333;
}
#section7-1:hover #icon3{
    background-color:#333;
}
#section7-1:hover #icon4{
    background-color:#333;
}
#section7-1:hover #icon5{
    background-color:#333;
}
#section7-1 #icon1:hover{
    color: black;
    background-color:white;
    transform: scale(1.2);
    transition-duration: 1s;
}
#section7-1 #icon2:hover{
    color: black;
    background-color:white;
    transform: scale(1.2);
    transition-duration: 1s;
}
#section7-1 #icon3:hover{
    color: black;
    background-color:white;
    transform: scale(1.2);
    transition-duration: 1s;
}
#section7-1 #icon4:hover{
    color: black;
    background-color:white;
    transform: scale(1.2);
    transition-duration: 1s;
}
#section7-1 #icon5:hover{
    color: black;
    background-color:white;
    transform: scale(1.2);
    transition-duration: 1s;
}
#section7-2{
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 0.8%;
}
#icon1,#icon2,#icon3,#icon4,#icon5{
    padding: 7px;
    background-color:#ffffff;
    color: black;
    border-radius: 220%;
    font-size: medium;
}

#top{
    color: black;
    padding: 1%;
    background-color: white;
    border: 2px solid #333;
    border-radius: 100%;
    text-decoration: none;
    position: relative;
    top: 15px;
}